@import "vars";

/*==========  Desktop First  ==========*/
@media only screen and (max-width : 1600px) {
  .slide-text {
    bottom: 40%;
    margin-left: 2%;
    &__header {
      font-size: 28px;
    }
    &__slogan {
      font-size: 17px;
    }
  }
}

@media only screen and (max-width : 1500px) {
  .slide-text {
    margin-left: 6%;
    &__description {
      bottom: 54px;
    }
    &__header {
      font-size: 26px;
    }
    &__slogan {
      font-size: 15px;
      bottom: -57px;
    }
  }
}

@media only screen and (max-width : 1400px) {
  .slide-text {
    margin-left: 10%;
    &__description {
      bottom: 48px;
    }
    &__header {
      font-size: 23px;
    }
    &__slogan {
      font-size: 12px;
      bottom: -52px;
    }
  }
}

@media only screen and (max-width : 1300px) {
  .slide-text {
    margin-left: 12%;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
  .logo {
    margin-left: 10px;
  }

  .slide-text {
    margin-left: 16%;
    &__description {
      bottom: 39px;
      padding: 9px 16px;
    }
    &__header {
      font-size: 18px;
      padding: 8px 9px 8px 13px;
    }
    &__slogan {
      padding: 10px 19px 10px 13px;
      bottom: -42px;
    }
  }
  .services {
    padding-left: 10px;
    padding-right: 10px;
    &-item {
      &__last {
        margin-right: 30px;
      }
    }
  }
}
/**/


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  .menu-desktop {
    display: none;
  }

  .menu-small {
    display: flex;
  }

  .menu-hamburger:hover .menu-dropdown {
    display: block;
  }

  .slide-text {
    margin-left: 21%;
    bottom: 20%;
  }
  .services {
    &-item {
      margin-right: 20px;
    }
  }
}
/**/


/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .slide-text {
    display: none;
  }
  .services {
    &-item {
      margin-right: 10px;
    }
  }

}
/**/


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  .services {
    &-item {
      width: 300px;
      margin-right: 0;
    }
  }
}
/**/


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}
/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}
/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}
/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}
/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}
/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
/**/


